@use "../abstracts/variables" as *;
@use "../base/typography" as *;
.hero {
  background-color: $primary-dark;
  overflow: hidden;
  position: relative;
}

.hero-container {
  width: 100%;
  position: relative;
}

.hero-content {
  position: absolute;
  width: 45%;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 100px;
  gap: 20px;
  z-index: 2;
  background: rgba(55, 57, 63, 0.91);
  backdrop-filter: blur(19px);
}
.badge-container {
  display: flex;
  align-items: center;
  gap: 10px;
}

.square-dot {
  width: 12px;
  height: 12px;
  background-color: $primary;
  flex-shrink: 0;
}

.badge-text {
  color: $white;
  font-weight: $fw-medium;
  font-size: $fs-subtitle;
}

.hero-title {
  font-family: $font-heading;
  font-size: $fs-h1;
  font-weight: $fw-bold;
  color: $white;
  line-height: 1.1;
}

.hero-desc {
  color: $text-gray;
  font-size: $fs-subtitle;
  line-height: 1.6;
  font-weight: $fw-medium;
}

.hero-image-box {
  width: 100%;

  img {
    width: 100%;
    object-fit: cover;
    display: block;
  }
}

.badge {
  gap: 8px;
  font-size: $fs-subtitle;
  font-weight: $fw-medium;
  margin-bottom: 14px;

  span {
    display: inline-block;
    width: 10px;
    height: 10px;
    background-color: $primary;
  }
}

@media (max-width: 1100px) {
  .hero-content {
    width: 60%;
    padding: 0 60px;
  }

  .hero-title {
    font-size: 48px;
  }
}
@media (max-width: 992px) {
  .hero-image-box img {
    height: 100%;
  }
}

@media (max-width: 768px) {
  .hero-container {
    display: flex;
    flex-direction: column;
  }

  .hero-content {
    position: relative;
    width: 100%;
    height: auto;
    padding: 50px 30px;
  }

  .hero-image-box {
    height: 280px;
  }

  .hero-title {
    text-align: center;
    font-size: 38px;
  }

  .hero-desc {
    text-align: center;
    font-size: $fs-body;
  }
  .badge-container {
    justify-content: center;
  }
  .badge {
    justify-content: center;
    text-align: center;
  }
}

@media (max-width: 576px) {
  .hero-content {
    padding: 40px 20px;
  }

  .hero-title {
    font-size: $fs-h4;
  }

  .hero-image-box {
    height: 220px;
  }
}

@media (max-width: 400px) {
  .hero-title {
    font-size: 24px;
  }

  .hero-desc {
    font-size: $fs-small;
  }
}

/* Rregullimi specifik për iPad Air dhe Tablet (Portrait) */
@media (min-width: 769px) and (max-width: 1024px) {
  .hero-content {
    width: 70%; // E zgjerojmë pak që teksti të marrë frymë
    padding: 60px 40px;
    justify-content: center; // E qendrojmë vertikalisht përmbajtjen brenda box-it
    background: rgba(55, 57, 63, 0.95); // Pak më i errët për lexueshmëri
  }

  .hero-title {
    font-size: 52px; // Madhësi e ndërmjetme
  }

  .hero-desc {
    font-size: 1.1rem;
  }

  .hero-image-box {
    height: 600px; // Sigurohemi që imazhi të ketë lartësi të mjaftueshme pas tekstit
    img {
      height: 100%;
      object-fit: cover;
    }
  }
}
