$primary: #40ddb6;
$secondary: #6b78e5;
$dark: #37393f;
$primary-dark: #1c1e22;
$gray: #7d7d7d;
$text-gray: #b1b1b1;
$light: #f4f4f4;
$white: #ffffff;
$font-main: "Inter", sans-serif;
$orange: #ffa722;
